body{
	background-color:#242424;
}

.square{
	width:30%;
	background-color:purple;
	float:left;
	padding-bottom:30%;
	margin:1.66%;
}

#container{
	max-width:600px;
	margin:0px auto;
}

h1{
	color:white;
}